<div class="c_box__shopping_list">
  <div class="c_box__shopping_list_inner">
    <% count = 0 %>
    <% @lack_ingredients.each do |ingre| %>
      <div id="<%= ingre[3] %>" class="c_box__shopping_list_item">
        <div class="a_flex c_box__shopping_list_item_inner">
          <%= form_with url: fridge_items_path, method: :post, local: false do |f| %>
            <div class="a_actions a_pointer c_submit__buy">
              <%= f.hidden_field :ingredient_id, value: ingre[3] %>
              <%= f.hidden_field :amount, value: ingre[1] %>
              <%= f.hidden_field :from, value: 'single' %>
              <%= f.submit "購入" %>
            </div>
          <% end %>
          <p><%= ingre[0] %></p>
          <% unless NeedIngredient::GENRE_SCOPE[:grain_seasoning].include?(ingre[3]) %>
            <p><%= ingre[1].regular_amount(ingre[2]) %> <%= ingre[2] %></p>
          <% end %>
        </div>
      </div>
      <% count += 1 %>
    <% end %>
  </div>
  <div class="a_box__link c_link__part_add">
    <%= link_to "数を指定して追加", new_fridge_item_path, class:"a_link" %>
  </div>
</div>