<div class="a_flex c_box__menu_index">
  <div class="c_box__left">
    <% image_cnt = 0 %>
    <% @user_menus.each do |user_menu| %>
      <% image_cnt = (image_cnt + 1) % 4 %>
      <div class="c_box__menu">
        <h2><%= user_menu.cooking_date %></h2>
        <div class="c_box__menu_inner">
          <%= link_to recipe_path(user_menu.recipe.id), target: :_blank do %>
            <h3>画像はランダムです</h3>
            <%= image_tag asset_path("image_#{image_cnt}.jpeg"), size: '400x320', class:"c_photo__menu_index" %>
          <% end %>
          <h2><%= user_menu.recipe.name %></h2>
          <div class="a_flex c_box__menu_button">
            <div class="  c_box__update_num">
              <%= form_with model: user_menu do |f| %>
                <div class="a_actions a_pointer a_flex c_box__update_num_inner">
                  <%= f.select :sarve, [1,2,3,4,5,6,7,8,9,10,11,12] %>
                  <%= f.submit "人に変更" %>
                </div>
              <% end %>
            </div>
            <div class="c_box__link_menu">
              <div class="a_box__link c_link__menu_index">
                <%= link_to "取り消し", user_menu_path(user_menu), method: :delete, class:"a_link" %>
              </div>
              <% if user_menu.cooking_date == @set_today %>
                <div class="a_box__link c_link__menu_index">
                  <%= link_to "料理済み", cooked_user_menu_path(user_menu), method: :patch, class:"a_link" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="c_box__right">
    <div class="c_box__lack_food">
      <h3>足りない食材</h3>
      <div class="c_box__lack_food_inner">
        <% @lacks.each do |lack| %>
          <div>
            <p><%= lack[0] %></p>
          </div>
        <% end %>
        <%= link_to shopping_list_path do %>
          <div class="a_box__link c_link__list_of_shopping" style="position: static; margin: auto;">
            <p class="a_link">買い物リストへ</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>