<div>
  <% image_cnt = 0 %>
  <%= form_with url: user_menus_path, method: :post do |f| %>
    <div>
      <div class="c_box__one_week_top">
        <div class="a_flex c_box__one_week_top_inner">
          <div class="c_text_one_week_top_inner">
            <h3>今日:</h3>
          </div>
          <div id="menu_0" class="c_item_one_week_top_inner">
            <div id="menu_render_0"><%= render "new_item", recipe: @recipes.first[0], image_cnt: image_cnt %></div>
            <div id="sarve_0" class="a_flex c_select__one_week_item">
              <%= f.select "user_menus[menu_0[sarve]]", [1,2,3,4,5,6,7,8,9,10], selected: @recipes.first[1] %>
              <%= f.hidden_field "user_menus[menu_0[recipe_id]]", value: @recipes.first[0].id %>
              <p>人</p>
            </div>
            <%= link_to new_week_user_menu_path(menu_change: true, html_id: 0, id: @recipes.first[0].id, old_sarve: @recipes.first[1], sarve: @recipes.first[1]), remote: true, id: "menu_change_0" do %>
              <div class="a_actions a_pointer c_submit__one_week_item">
                <input type="submit" value="メニューを変更する">
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="c_box__one_week_main">
        <div class="a_flex c_box__one_week_main_inner">
          <% @recipes[1..-1].each.with_index(1) do |recipe, i| %>
            <% image_cnt = (image_cnt + 1) % 4 %>
            <div class="b_box__one_week_item">
              <p><%= i %>日後の日付</p>
              <div id="menu_<%= i %>" class="b_box__one_week_item_inner">
                <div>
                  <div id="menu_render_<%= i %>"><%= render "new_item", recipe: recipe[0], image_cnt: image_cnt %></div>
                  <div id="sarve_<%= i %>" class="a_flex c_select__one_week_item">
                    <p>人数変更:　</p>
                    <%= f.select "user_menus[menu_#{i}[sarve]]", [1,2,3,4,5,6,7,8,9,10], selected: recipe[1], style: "width: 24px;" %>
                    <p>人</p>
                    <%= f.hidden_field "user_menus[menu_#{i}[recipe_id]]", value: recipe[0].id %>
                  </div>
                  <%= link_to new_week_user_menu_path(menu_change: true, html_id: i, id: recipe[0].id, old_sarve: recipe[1], sarve: recipe[1]), remote: true, id: "menu_change_#{i}" do %>
                    <div class="a_actions a_pointer c_submit__one_week_item">
                      <input type="submit" value="メニューを変更する">
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="c_box__one_week_bottom">
        <h3>足りない食材一覧</h3><span>※人数の変更により、表記にずれが生じることがございます</span>
        <div id="week_lacks" class="a_flex c_box__one_week_bottom_inner">
          <%= render "new_week_lack", lacks: @lacks %>
        </div>
      </div>

    </div>
    <div class="a_actions a_pointer c_button_decided_week_menu">
      <%= f.submit "今週の献立決定" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  <% @recipes.size.times do |idx| %>
    const select_<%= idx %> = $("#sarve_<%= idx %> select")
    $(select_<%= idx %>).on('change', function(){
      var change = $("#menu_change_" + <%= idx %>);
      var oldHref = $(change[0]).attr('href');
      var newHref = oldHref.slice(0, -1) + String(select_<%= idx %>.val());
      $(change[0]).attr('href', newHref);
    });
  <% end %>
</script>