<div>
  <%= form_with url: root_path, method: :get do |f| %>
    <div>
      <div class="c_box__one_week_top">
        <div class="a_flex c_box__one_week_top_inner">
          <div class="c_text_one_week_top_inner">
            <h3>今日:</h3>
          </div>
          <div class="c_item_one_week_top_inner">
            <%= render "new_item", recipe: @recipes.first[0] %>
            <div class="a_flex c_select__one_week_item">
              <%= f.select "user_menu_0[sarve]", [1,2,3,4,5,6,7,8,9,10], selected: @recipes.first[1] %>
              <%= f.hidden_field "user_menu_0[recipe_id]", value: @recipes.first[0].id %>
              <p>人</p>
            </div>
            <%= link_to user_menus_path do %>
              <div class="a_actions a_pointer c_submit__one_week_item">
                <%= f.submit "メニューを変更する" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="c_box__one_week_main">
        <div class="a_flex c_box__one_week_main_inner">
          <% @recipes[1..-1].each.with_index(1) do |recipe, i| %>
            <div class="b_box__one_week_item">
              <p><%= i %>日後の日付</p>
              <div class="b_box__one_week_item_inner">
                <div>
                  <%= render "new_item", recipe: recipe[0] %>
                  <div class="a_flex c_select__one_week_item">
                    <p>人数変更:　</p>
                    <%= f.select "user_menu_#{i}[sarve]", [1,2,3,4,5,6,7,8,9,10], selected: recipe[1], style: "width: 24px;" %>
                    <p>人</p>
                    <%= f.hidden_field "user_menu_#{i}[recipe_id]", value: recipe[0].id %>
                  </div>
                  <%= link_to new_week_user_menu_path(menu_change: true, id: recipe[0].id, sarve: recipe[1]) do %>
                    <div class="a_actions a_pointer c_submit__one_week_item">
                      <%= f.submit "メニューを変更する" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="c_box__one_week_bottom">
        <h3>足りない食材一覧</h3><span>※人数の変更により、表記にずれが生じることがございます</span>
        <div class="a_flex c_box__one_week_bottom_inner">
          <% @lacks.each do |ingredient| %>
            <div class="c_box__week_lack_food">
              <% amounts = (ingredient[2] == 'option' ? '' : "#{ingredient[1].regular_amount(ingredient[2]).to_s.rjust(3, '-')}　#{ingredient[2].rjust(3, '　')}") %>
              <p><%= ingredient[0].rjust(8, '　') + '　　' + amounts %></p>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="a_actions a_pointer c_button_decided_week_menu">
      <%= f.submit "今週の献立決定" %>
    </div>
  <% end %>
</div>