<div>
  <div>
    <div class="c_box__fridge_new">
      <h3>食材を追加</h3>
      <%= form_with url: fridge_items, method: :post do |f| %>
        <div class="a_flex c_box__fridge_new_inner">
          <div class="b_box__fridge_item">
            <p>肉</p>
            <%= render "fridge_item", f: f, ingredients: @meats, amounts: @grams, genre: '肉一覧', value_num: '0' %>
          </div>
          <div class="b_box__fridge_item">
            <p>海鮮</p>
            <%= render "fridge_item", f: f, ingredients: @fishes, amounts: @amounts, genre: '海鮮一覧', value_num: '1' %>
          </div>
          <div class="b_box__fridge_item">
            <p>野菜</p>
            <%= render "fridge_item", f: f, ingredients: @vegetables, amounts: @amounts, genre: '野菜一覧', value_num: '2' %>
          </div>
          <div class="b_box__fridge_item">
            <p>その他</p>
            <%= render "fridge_item", f: f, ingredients: @others, amounts: @amounts, genre: 'きのこ/その他一覧', value_num: '3' %>
          </div>
          <div class="b_box__fridge_item">
            <p>調味料/穀物</p>
            <%= render "fridge_item", f: f, ingredients: @grains_seasonings, amounts: @haves, genre: '調味料/穀物一覧', value_num: '4' %>
          </div>
          <div class="a_actions a_pointer c_submit__fridge_item">
            <%= f.submit "追加" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  let column_num = 4;
  $(document).on("click", ".add", function() {
    column_num += 1;
    var add_num = String(column_num);
    $(this).parent().clone(true).insertAfter($(this).parent().parent().find('div:last'));
    var select = $(this).parent().parent().find('div:last').find('select')
    $(select[0]).attr('name', `fridge_items[value_${add_num}[ingredient_id]]`);
    $(select[1]).attr('name', `fridge_items[value_${add_num}[amount]]`);
  });
  $(document).on("click", ".delete", function() {
    var target = $(this).parent().parent().find('div:last');
    if (target.parent().children().length > 1) {
        target.remove();
    }
  });
</script>


